.navbar{
    background-color: #073642 !important
} 

.navbar-dark .navbar-nav .nav-link{
    font-size: 14px;
    /* font-weight: bold; */
    color: white;
}

.sidetool_group{
    right : 10px;
    bottom: 5px;
}

.sidetool_button {
    background-color: rgb(254, 239, 105);
}

.sidetool_icon{
    margin: 0;
    width: 20px;
    height: 20px;
}

.container{
    /* 便於編輯(觀察)，完成後可刪除 */
    border: 2px solid red;
}

.footer{
    background-color: #073642 
}

.footer-link{
    color: white;
    font-size: 14px;
    text-decoration: none;
}


tr, td{
    border: 1px solid black;
}

.-none {
    display: none;
}

/*要在滑鼠移到表格上時產生發亮效果，你可以使用 CSS 的 :hover 擴展選擇器*/
/* .table-responsive .tbody tr:hover {
    background-color: #f5f5f5;
} */

.tr:hover {
    background-color: #f5f5f5;
}