body {
    background-image: url(./t4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#qaItem{
    margin-top: 20px; 
    margin-left: auto; 
    margin-right: auto;
}
#title{
    text-align: center;
}
.accordion-button   {
 background-color: #006494 !important ;
 color: #ffffff !important;
}
.que{
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}