.carousel .carousel-item {
    height: 500px;
    width: 100%;
  }
  
  .carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 50%;
    max-height: 500px;
    width: auto;
    transform: translate(-50%, 0);
  }
  
  .carousel-indicators button {
    color: black;
  }

  .slider{
    background-color: #355070;
  }
  