#courseCarList {
    width: 90%;
    margin: 10px auto;
  }
  img{
    width: 100px;
  }
  table {
    border-spacing: 0;
    width: 100%;
  }
  tr {
    text-align: center;
  }
  th {
    padding: 10px;
  }
  table tbody tr:nth-child(odd){
    background-color: #eee
  }
  table thead {
    background-color: blue;
    color: white;
  }
  table thead th:first-child {
    border-radius: 5px 0 0 0;
    border: 1px solid blue;
  }
  table thead th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid blue;
  }
  table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
  }
  
  table tbody tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
  }
.delMark{
  font-size: 30px;
  font-weight: bolder;
  display: block;
  color: red;
  cursor: pointer;
}

